/*
selector{
	property:value;
}

font-family: 'Nerko One', cursive;
font-family: 'Sacramento', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Texturina', serif;
*/

body{
	/* background-color: #f7cbd5; */
	text-align: center;
	font-family: 'Shadows Into Light', cursive;
	font-size: large;

}

/* the . targets the class word in the <div> tags */
.menu{
	margin: auto; /*centre the div */
	width:80%;  /*and only make it 80% of webpage */
	background-color: #f7cbd5;  /* gave it a colour */
	height: 50px; /* gave it a height */
	margin-top:5px;
	margin-bottom: 5px;
	padding-top: 5px;
	padding-bottom:15px;
}
.header{
	font-family: 'Texturina', serif;
	margin: auto;
	width:80%;
	background-color: white;
	height: 250px;
	padding-top:20px;
	border: 2px solid  black;

}
.main{
	margin:auto;
	width:80%;
	background-color: #f7cbd5;
	height: 400px;
	padding-top: 5px;
	margin-top:10px;
	margin-bottom:10px;
}
.footer{
	margin:auto;
	margin-top: 100px;
	width:80%;
	background-color: #2d62b9;
	color: white;
	height: 40px;
}

/* this is Davids menu styling */
ul {
	text-align:center;
}
a {

	border-radius: 5px;
	color: white;
	text-decoration: none;
	/* margin: 40px; */
	background-color: #2d62b9;
	padding: 5px;

}
li{
	display:inline;
}
a:hover  {
	background-color: purple;
	color: red;
}



img{
	height: 200px;
	width: 200px;
	/* border: 2px solid  #e6ffff; */
	border-radius: 5px; /*rounded corner*/
	/* border-radius: 50%; makes a circle */

}
.youtube {
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    display: inline-block;
    overflow: hidden;
    transition: all 200ms ease-out;
    cursor: pointer;
}
.youtube .play {
    background: url('https://www.youtube.com/watch?v=I3nnynR6BZI') no-repeat; /*ВАЖНО: здесь укажите адрес до изображения*/
    background-position: 0 -50px;
    -webkit-background-size: 100% auto;
    background-size: 100% auto;
    position: absolute;
    height: 50px;
    width: 69px;
    transition: none;
    top:0;
    left:0;
    right:0;
    bottom:0;
    margin:auto;
}
.youtube:hover .play {
    background-position: 0 0;
}